*.So
*.a
*.d
*.la
*.lo
*.o
*.out
*.po
*.so
*~
.*.swp
.depend
.deps/
.dirstamp
.libs/
.idea/
/config.inc
/doxygen_html
/efpmd/libff/libtinker.a
/efpmd/src/efpmd
/fraglib/params
/bin/efpmd
/share/libefp/fraglib/
/include/
tags
