*~
*.So
*.a
*.o
*.la
*.lo
*.po
.*.swp
.dirstamp
.depend
.deps/
.libs/

test.log

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/html
/libtool
/stamp-h1
/tags

/efpmd/efpmd
/efpmd/cubegen/cubegen

/tests/test
