*~
*.So
*.a
*.o
*.la
*.lo
*.po
.*.swp
.dirstamp
.depend
.deps/
.libs/
tags

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/html
/libtool
/stamp-h1

/efpmd/src/efpmd
/efpmd/tools/rdf/rdf
/tests/test
